Answers.ipynb linguist-language="Jupyter Notebook" linguist-detectable
README.md -linguist-documentation linguist-language=SQL linguist-detectable
.gitattributes linguist-language=Python linguist-detectable
